// https://chir.ag/projects/name-that-color/

$color-blue-dark: #000520;
$color-blue-medium: #0072c6;

$white-30: rgba(255, 255, 255, 0.3);
$white-50: rgba(255, 255, 255, 0.5);
$white-80: rgba(255, 255, 255, 0.8);
$color-primary-accent: $color-blue-medium;
$color-copy: $color-blue-dark;

// plain copies
$gray-600: #8c98a4;

:root {
  --color-black: #000000;
  --color-black-85: #262626;
  --color-black-70: #4c4c4c;
  --color-gk-grey: #7f7f7f;
  --color-black-40: #999;
  --color-black-30: #b2b2b2;
  --color-black-15: #d9d9d9;
  --color-gk-light-grey: #f5f5f5;
  --color-black-2: #fbfbfb;

  --color-white-30: #{$white-30};
  --color-white-50: #{$white-50};
  --color-white-80: #{$white-80};

  --color-gk-dark-blue-shade-40: #999ba6;
  --color-gk-dark-blue: #{$color-blue-dark};
  --color-gk-mid-blue: #{$color-blue-medium};
  --color-gk-light-blue: #5cbbff;
  --color-blue-lighter: #77c6ff;
  --color-blue-jeans: #24a1fa;
  --color-celery: #9fc54f;
  --color-ziggurat: #bfdfe1;
  --color-gk-green: #acd653;
  --color-frost: #edf5db;
  --color-sushi: #809f3e;
  --color-gk-petrol: #008187;
  --color-yellow-medium: #dab61d;
  --color-gk-yellow: #fcd116;
  --color-gk-orange: #f8842c;
  --color-gk-red: #e44418;
  --color-french-rose: #ed4c78;
  --color-trout: #4c5062;
  --color-porcelain: #f3f5f6;
  --color-bon-jour: #e5e2e2;
  --color-deep-sea: #008774;
  --color-mint-green: #80f785;
  --color-products-dark-blue: #011e33;
  --color-products-dark-grey: #808e99;
  --color-products-mid-grey: #d1d9dd;
  --color-radius-light-orange: #fcb975;
  --color-nevada: #60727f;
  --color-konnekt-light-green: #c2deda;
  --color-gk-lightest-blue: #cce3f4;
  --color-summer-green: #8ebeb2;
  --color-scepman-mid-yellow: #f7cb0b;
  --color-sunglow: #ffd233;
  --color-scepman-light-purple: #a09edb;
  --color-biloba-flower: #bd90ea;
  --color-lavender: #ad76e5;
  --color-perfume: #ddc3f7;
  --color-varden: #fff8dc;
  --color-sahara: #bd9d11;
  --color-gk-violet: #543b9c;
  --color-portage: #9898f9;
  --color-sahara-sand: #f6ee8c;
  --color-rj-yellow: #e1d429;
  --color-rj-dark-orange: #c66a23;
  --color-uc-yellow: #f5c663;
  --color-cyprus: #004144;
  --color-wax-flower: #ffbb9a;
  --color-rm-apricot: #f3b394;
  --color-jacarta: #19122f;
  --color-wistful: #b2a7d2;
  --color-lochmara: #007ac8;
  --color-denim: #1476bf;
  --color-polar: #f6f9fd;
  --color-gk-dark-blue-shade-20: #cccdd2;
  --color-gk-dark-blue-shade-10: #e5e6e9;
  --color-gk-dark-blue-shade-30: #b3b4bc;
  --color-cornflower-blue: #6195ed;
  --color-gk-dark-blue-shade-60: #666979;
  --color-gk-dark-blue-shade-50: #80828f;
  --color-anakiwa: #97d4ff;
  --color-butterfly-bush: #524fa3;
  --color-scepman-purple: #716fa7;

  --color-gk-white: #fff;

  --color-headlines: var(--color-gk-dark-blue);
  --color-copy: var(--color-gk-dark-blue);
  --color-copy-light: var(--color-gk-white);
  --color-copy-lowlight: var(--color-black-30);
  --color-copy-reduced: var(--color-gk-grey);
  --color-copy-hover: var(--color-black-70);

  --color-active: var(--color-primary);

  // more abstract color assignments
  --color-surface-background: var(--color-gk-light-grey);
  --color-background: var(--color-gk-white);

  // rules that default to everything

  --color-border-default: var(--color-black-30);
  --color-border-light: var(--color-black-15);

  --color-service-overview-border: var(--color-border-default);

  --color-services-border: var(--color-service-overview-border);
  --color-services-labels: var(--color-trout);

  --color-page-detail-border: var(--color-border-default);
  --color-page-detail-copy: var(--color-black-85);
  --color-page-detail-shape: var(--color-gk-yellow);
  --color-page-detail-details: var(--color-gk-orange);

  --color-job-list-border: var(--color-border-default);

  --color-job-list-detail: var(--color-gk-yellow);
  --color-job-list-detail-copy: var(--color-black-85);

  --color-person-quote-detail: var(--color-gk-yellow);

  --color-icon-hover-background: var(--color-black-85);
  --color-icon-hover-color: var(--color-gk-white);

  --color-icon-check-background: var(--color-gk-lightest-blue);

  --color-modal-background: var(--color-gk-white);

  --color-form-background: var(--color-porcelain);
  --color-form-background-light: var(--color-gk-white);
  --color-form-error: var(--color-gk-red);
  --color-form-success: var(--color-deep-sea);
  --color-form-border: var(--color-bon-jour);
  --color-form-border-hover: var(--color-border-default);

  --color-google-maps-popup-background: var(--color-gk-dark-blue);

  --color-hero-icon: var(--color-gk-yellow);
  --color-hero-study-background: var(--color-primary);
  --color-hero-study-copy: var(--color-copy);
  --color-hero-image-content-grid-overline-text: var(--color-gk-dark-blue);
  --color-hero-text-overline-text: var(--color-gk-orange);

  --color-people-square-copy: var(--color-gk-white);

  --color-step-list-highlight: var(--color-gk-yellow);
  --color-step-list-highlight-copy: var(--color-copy);
  --color-step-list-border: var(--color-border-light);

  --color-career-background: var(--color-gk-dark-blue);

  --color-text-image-background: var(--color-career-background);

  --color-pricing-product-border: var(--color-gk-dark-blue-shade-40);

  --color-fab-background: var(--color-gk-yellow);

  --color-testimonials: var(--color-blue-jeans);

  --color-event-teaser-timing: var(--color-gk-dark-blue-shade-40);
  --color-event-teaser-timing-highlight: var(--color-gk-orange);
  --color-event-teaser-background: var(--color-black-2);
  --color-event-teaser-teaser-background: var(--color-gk-petrol);
  --color-event-teaser-teaser-copy: var(--color-gk-white);

  --color-event-detail: var(--color-surface-background);
  --color-event-detail-shape: var(--color-gk-yellow);

  --color-badge-icon: var(--color-gk-white);
  --color-badge-background: var(--color-gk-orange);

  --color-card-background: var(--color-surface-background);
  --color-card-highlight: var(--color-gk-orange);

  --color-back-to-top-border: var(--color-border-default);
  --color-back-to-top-hover-background: var(--color-gk-dark-blue);
  --color-back-to-top-hover-foreground: var(--color-gk-white);

  --color-faq-border: var(--color-trout);

  --color-modal-error-title: var(--color-gk-red);
  --color-modal-error-contact: var(--color-black);

  --color-letter-switcher-highlight: var(--color-lochmara);
  --color-letter-switcher-copy: var(--color-copy-light);
  --color-letter-switcher-overline: var(--color-gk-yellow);
  --color-letter-switcher-underline: var(--color-gk-orange);

  --color-scroll-arrow: var(--color-gk-orange);

  --color-header-background: var(--color-gk-white);
  --color-header-border: var(--color-gk-dark-blue-shade-20);
  --color-header-container-border: var(--color-gk-dark-blue-shade-10);
  --color-header-contact-background: var(--color-polar);
  --color-header-active: var(--color-active);
  --color-header-product-subtitle: var(--color-gk-dark-blue-shade-60);

  --color-link-list-border: var(--color-gk-dark-blue-shade-20);
  --color-link-list-icon: var(--color-gk-dark-blue-shade-30);
  --color-link-list-title: var(--color-trout);
  --color-link-list-active: var(--color-active);

  --color-toggle-switch-indicator: var(--color-products-dark-blue);

  --color-accordion-hover-background: var(--color-surface-background);
  --color-table-mark: var(--color-gk-yellow);

  --color-emergency: var(--color-gk-orange);
  --color-emergency-accent: var(--color-rj-dark-orange);

  --color-input-placeholder: var(--color-gk-dark-blue-shade-30);

  --color-highlight-underline: var(--color-highlight-second);
  --color-highlight-animated: var(--color-highlight-second);

  --color-link: var(--color-primary);
  --color-link-hover: var(--color-primary-accent);
}

.bg-grey {
  background-color: var(--color-bg-grey);
}
