$color-blue-dark: #000520;
$color-blue-medium: #0072c6;

$white-30: rgba(255, 255, 255, 0.3);
$white-50: rgba(255, 255, 255, 0.5);
$white-80: rgba(255, 255, 255, 0.8);
$color-primary-accent: $color-blue-medium;
$color-copy: $color-blue-dark;

// plain copies
$gray-600: #8c98a4;
