@media print {
  @page {
    size: A4;
    margin: 0.8cm 0.8cm;

    @top-left {
      content: '';
      font-size: 6pt;
    }

    @top-right {
      content: '';
      font-size: 6pt;
    }

    @bottom-left {
      content: '';
      font-size: 6pt;
    }

    @bottom-right {
      content: '';
      font-size: 6pt;
    }
  }

  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  html,
  body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    line-height: 1.4;
  }

  .header,
  .header__spacer,
  .footer,
  .hide-in-print {
    display: none !important;
    border: 5px solid rgb(239, 27, 250);
  }

  .screensaver__detail {
    padding: 0 !important;
  }

  .screensaver__grid-container {
    margin-top: 2rem;
  }

  .screensaver__navigation {
    min-height: 300px !important;

    .screensaver__navigation-item-content {
      animation: none !important;
      height: auto !important;

      img {
        max-height: 15rem !important;
      }
    }
  }

  .screensaver__grid-item {
    break-inside: avoid;
    page-break-inside: avoid;
    margin-top: 1px;
  }

  .screensaver__grid-item:hover {
    transform: none !important;
  }
}
