.shared-components {
  %h1,
  .h1,
  h1 {
    @include h1;
  }

  %h1,
  %h2,
  %h3,
  %h4,
  %h5,
  %h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: var(--color-headlines);
    margin-top: 0;
    margin-bottom: spacing(2);
    line-height: $default-line-height-headlines;
  }

  %font-size-xs,
  %font-size-sm,
  %font-size-1,
  %font-size-2,
  %font-size-3,
  %font-size-4,
  %font-size-5,
  %font-size-6,
  %font-size-7,
  %font-size-8,
  %h1-font-size,
  %h2-font-size,
  %h3-font-size,
  %h4-font-size,
  %h5-font-size,
  %h6-font-size,
  .font-size-xs,
  .font-size-sm,
  .font-size-1,
  .font-size-2,
  .font-size-3,
  .font-size-4,
  .font-size-5,
  .font-size-6,
  .font-size-7,
  .font-size-8,
  .h1-font-size,
  .h2-font-size,
  .h3-font-size,
  .h4-font-size,
  .h5-font-size,
  .h6-font-size {
    &.bold {
      font-weight: bold !important;
    }

    &.normal {
      font-weight: 400 !important;
    }

    &.light {
      @include font-mods('light');
    }

    &.wide {
      @include line-height('wide');
    }

    &.middle {
      @include line-height('middle');
    }

    &.thin {
      @include line-height('thin');
    }
  }

  %h1-font-size,
  h1,
  .h1-font-size {
    @include h1;
  }

  %h2-font-size,
  h2,
  .h2-font-size {
    @include h2;
  }

  %h3-font-size,
  h3,
  .h3-font-size {
    @include h3;
  }

  %h4-font-size,
  h4,
  .h4-font-size {
    @include h4;
  }

  .text-white {
    %h1,
    %h2,
    %h3,
    %h4,
    %h5,
    %h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      color: var(--color-white);
    }
  }

  .text-orange {
    color: var(--color-orange);
  }

  .text-green-blue {
    color: var(--color-green-blue);

    &%h1,
    &%h2,
    &%h3,
    &%h4,
    &%h5,
    &%h6,
    &.h1,
    &.h2,
    &.h3,
    &.h4,
    &.h5,
    &.h6 {
      color: var(--color-green-blue);
    }
  }

  .highlight-orange {
    background-color: var(--color-orange);
    padding: 0 0 3px;
  }

  .highlight-yellow {
    background-color: var(--color-yellow);
    padding: 0 0 3px;
  }

  .highlight {
    background-color: var(--color-primary);
    padding: 0 0 3px;
  }

  .highlight-underline {
    @include text-highlight;
  }

  .highlight-animated {
    @include background-grow($color: var(--color-highlight-animated), $spacing: spacing(0));

    &::before {
      max-width: 100%;
    }
  }

  .lead {
    font-size: $font-size-lg;
  }

  %font-size-sm,
  .font-size-sm {
    @include font-size-sm;
  }

  %font-size-xs,
  .font-size-xs {
    @include font-size-xs;
  }

  .is-error,
  %font-size-1,
  .font-size-1 {
    @include font-size-1;
  }

  %font-size-2,
  .font-size-2 {
    @include font-size-2;
  }

  %font-size-3,
  .font-size-3 {
    @include font-size-3;
  }

  %font-size-4,
  .font-size-4 {
    @include font-size-4;
  }

  %font-size-5,
  .font-size-5 {
    @include font-size-5;
  }

  %font-size-6,
  .font-size-6 {
    @include font-size-6;
  }

  %font-size-7,
  .font-size-7 {
    @include font-size-7;
  }

  %font-size-8,
  .font-size-8 {
    @include font-size-custom($sm: $font-size-8-sm, $lg: $font-size-8-lg);
  }

  .is-error {
    color: var(--color-form-error);
    font-weight: bold;
  }
}

:root {
  --type-default-line-height: #{$default-line-height};
}

// TODO refactor with @layer
