$default-line-height: 1.6;
$default-line-height-headlines: 1.4em;

// Base font sizes
$font-size-12px: 0.75rem;
$font-size-13px: 0.8125rem;
$font-size-14px: 0.875rem;
$font-size-16px: 1rem;
$font-size-18px: 1.125rem;
$font-size-20px: 1.25rem;
$font-size-22px: 1.375rem;
$font-size-24px: 1.5rem;
$font-size-26px: 1.625rem;
$font-size-28px: 1.75rem;
$font-size-30px: 1.875rem;
$font-size-32px: 2rem;
$font-size-34px: 2.125rem;
$font-size-36px: 2.25rem;
$font-size-38px: 2.375rem;
$font-size-40px: 2.5rem;
$font-size-42px: 2.625rem;
$font-size-44px: 2.75rem;
$font-size-46px: 2.875rem;
$font-size-48px: 3rem;

// TODO get rid of depdendency
$font-size-base: $font-size-16px;
$font-size-sm: $font-size-base * 0.85;
$font-size-xs: $font-size-sm * 0.89;
$font-size-lg: 1.5rem;

// XXX

// Font size 1
$font-size-1-xl: 1rem;
$font-size-1-lg: 1rem;
$font-size-1-sm: 0.875rem;
$font-size-1-line-height-xl: $default-line-height;
$font-size-1-line-height-lg: $default-line-height;
$font-size-1-line-height-sm: $default-line-height;

// Font size 2
$font-size-2-xl: 1.25rem;
$font-size-2-lg: 1.25rem;
$font-size-2-sm: 1.125rem;
$font-size-2-line-height-xl: 1.6em;
$font-size-2-line-height-lg: 1.6em;
$font-size-2-line-height-sm: 1.6667em;

// Font size 3
$font-size-3-xl: 1.5625rem;
$font-size-3-lg: 1.25rem;
$font-size-3-sm: 1.25rem;
$font-size-3-line-height-xl: 2.5rem;
$font-size-3-line-height-lg: 2.5rem;
$font-size-3-line-height-sm: 2.5rem;

// Font size 4
$font-size-4-xl: 1.95313rem;
$font-size-4-lg: 1.5625rem;
$font-size-4-sm: 1.5625rem;
$font-size-4-line-height-xl: 2rem;
$font-size-4-line-height-lg: 2.5rem;
$font-size-4-line-height-sm: 2rem;

// Font size 5
$font-size-5-xl: 3rem;
$font-size-5-lg: 2.5rem;
$font-size-5-sm: 2rem;
$font-size-5-line-height-xl: $default-line-height;
$font-size-5-line-height-lg: $default-line-height;
$font-size-5-line-height-sm: $default-line-height;

// Font size 6
$font-size-6-xl: 6rem;
$font-size-6-lg: 5rem;
$font-size-6-sm: 4rem;
$font-size-6-line-height-xl: 1.1em;
$font-size-6-line-height-lg: 1.1em;
$font-size-6-line-height-sm: 1.1em;

// Font size 7
$font-size-7-xl: 9.76563rem * 1.25;
$font-size-7-lg: 9.76563rem * 1.1;
$font-size-7-sm: 9.76563rem;
$font-size-7-line-height-xl: 8rem;
$font-size-7-line-height-lg: 12rem;
$font-size-7-line-height-sm: 8rem;

// Font size 8
$font-size-8-xl: $font-size-14px;
$font-size-8-lg: $font-size-14px;
$font-size-8-sm: $font-size-14px;
$font-size-8-line-height-xl: $default-line-height;
$font-size-8-line-height-lg: $default-line-height;
$font-size-8-line-height-sm: $default-line-height;

// H1
$h1-font-size-xl: $font-size-base * 5;
$h1-font-size-lg: calc(#{$h1-font-size-xl} / 1.3);
$h1-font-size-sm: calc(#{$h1-font-size-xl} / 1.8);
$h1-line-height-xl: 1.225em;
$h1-line-height-lg: 1.225em;
$h1-line-height-sm: 1.305em;

// H2
$h2-font-size-xl: $font-size-base * 3.75;
$h2-font-size-lg: calc(#{$h2-font-size-xl} / 1.3);
$h2-font-size-sm: calc(#{$h2-font-size-xl} / 1.8);
$h2-line-height-xl: 1.2em;
$h2-line-height-lg: 1.2em;
$h2-line-height-sm: 1.2em;

// H3
$h3-font-size-xl: $font-size-base * 2.5;
$h3-font-size-lg: calc(#{$h3-font-size-xl} / 1.3);
$h3-font-size-sm: 1.625rem;
$h3-line-height-xl: 1.5em;
$h3-line-height-lg: 1.6em;
$h3-line-height-sm: 1.3847em;

// H4
$h4-font-size-xl: $font-size-base * 1.8;
$h4-font-size-lg: calc(#{$h4-font-size-xl} / 1.2);
$h4-font-size-sm: 1.5rem;
$h4-line-height-xl: 1.4585em;
$h4-line-height-lg: 1.4585em;
$h4-line-height-sm: 1.4165em;

$content-width-xxl: 80%;
