@charset 'UTF-8';

// TODO move this to real dependences or get rid of it
// @layer vendor {
// TODO when you migrate the component use the npm package instead of this
// @import 'front/assets/vendor/leaflet/dist/leaflet';
@import 'front/assets/css/theme';
@import 'front/assets/vendor/slick-carousel/slick/slick';

// @import 'front/assets/vendor/@fancyapps/fancybox/dist/jquery.fancybox';
@import 'front/assets/vendor/ion-range-slider/ion.rangeSlider';
// }

@import 'colors';
@import 'user-variables-type';
@import 'user-variables';
@import 'animations';
@import 'mixins';
@import 'type';
@import 'fonts';
@import 'font-awesome';
@import 'spacings';
@import 'theme';
@import 'bootstrap/bootstrap';
@import 'bootstrap-helper';
@import 'z-index';
@import 'helper';
@import 'loading';
@import 'modal';
@import 'richtext';
@import 'slick';
@import 'streamline-icon';

@import 'components/index';
@import 'pages/index';

$grid-gutter-half-width: 15px !default;

html,
html body {
  --scroll-top: 80px;
  --utility-animation-index: 1;
  --utility-animation-distance: 25%;
  --utility-animation-to-opacity: 1;
  --utility-animation-items-loaded: 0;
  --icon-scale: 1;
  --grid-gutter-half-width: #{$grid-gutter-half-width};

  font-family: var(--font-family);
  color: var(--color-copy);
  // overflow-x: hidden; // removing this might have side-effects so we might need to enable it again

  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      --container-width: #{get-container-width($name: $breakpoint, $with-padding: true)};
      --container-width-no-padding: #{get-container-width($name: $breakpoint, $with-padding: false)};
      --breakpoint: #{$breakpoint};
    }
  }

  @include media-breakpoint-up('md') {
    --scroll-top: 100px;
  }
}

html body {
  line-height: var(--type-default-line-height);
  background-color: var(--color-background);
}

.other {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

img {
  height: auto;
  max-width: 100%;
}

/* Banner */
.navbar-banner {
  background-size: 289px 180px; // reset cover
  background-position: center center; // top cover
}

.navbar-banner::after {
  background-color: transparent; // reset background-color
}

ul.dashed {
  list-style-type: none;
}

ul {
  &.dashed {
    @include bulletpoints;
  }

  &.none {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.drop-shadow {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.2));
}

.text-shadow {
  text-shadow: 7px 5px 7px #ffffff;
}

.shared-components {
  .text-primary {
    color: var(--color-primary) !important;
  }

  .text-secondary {
    color: var(--color-secondary) !important;
  }
}

strong[id] {
  &:target {
    &::before {
      content: '';
      display: block;
      height: var(--scroll-top);
      margin: calc(-1 * (var(--scroll-top))) 0 0;
    }
  }
}

.circle-row {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}

.circle-container {
  gap: 1rem;
  display: flex;
}

.circle-content {
  margin: 0;
  font-weight: "normal";
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.circle-slot {
  white-space: nowrap;

}

.icon-circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  font-weight: lighter;

}

.icon-circle img {
  width: 25px;
  height: 25px;
}

.portfolio-img:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.portfolio-items {
  column-gap: 40px;
}

.portfolio-single {
  width: 378px;
  left: 0px;
  top: 0px;
}

@media (min-width: 380px) {
  .portfolio-items {
    column-count: 1;
  }
}

@media (min-width: 480px) {
  .portfolio-items {
    column-count: 2;
  }
}

@media (min-width: 800px) {
  .portfolio-items {
    column-count: 3;
  }
}

@media (min-width: 1100px) {
  .portfolio-items {
    column-count: 3;
  }
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  max-width: 600px;
}

.gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item {
  display: flex;
  flex-direction: column;
}