:root {
  --site: "gk";
  --color-headlines: var(--color-blue-dark);
  --color-copy: var(--color-blue-dark);
  --color-primary: #5cbbff;
  --color-primary-accent: #4083b3;
  --color-primary-accent-light: var(--color-link-water);
  --color-primary-on-surface: #ffffff;
  --color-primary-accent-on-surface: #4c5063;
  --color-secondary: #5cbbff;
  --color-secondary-accent: #4083b3;
  --color-secondary-accent-light: red;
  --color-secondary-on-surface: #ffffff;
  --color-secondary-accent-on-surface: #4c5063;
  --color-highlight: var(--color-primary-accent);
  --color-highlight-second: #fcd116;
  --color-copy-highlight: var(--color-orange);
  --color-copy-on-primary: var(--color-copy-light);
  --color-copy-on-primary-accent: var(--color-copy-light);
  --color-copy-on-primary-on-surface: #5cbbff;
  --color-copy-on-primary-accent-on-surface: #5cbbff;
  --color-copy-on-secondary: var(--color-secondary);
  --color-copy-on-secondary-accent: var(--color-secondary-accent);
  --color-copy-on-secondary-on-surface: var(--color-secondary-on-surface);
  --color-copy-on-secondary-accent-on-surface: var(--color-secondary-accent-on-surface);
  --color-bg-grey: var(--color-porcelain);
  --color-bg-dark-grey: var(--color-regent-grey);
  --color-svg-icon: var(--color-primary);
  --color-svg-icon--hover: var(--color-primary-accent);
  --color-bg-checkbox: var(--color-blue-medium);
  --color-border: var(--color-blue-dark);
  --color-loading: var(--color-primary);
  --color-loading--1: var(--color-primary);
  --color-loading--2: var(--color-yellow);
  --color-loading--3: var(--color-conifer);
  --color-loading--4: var(--color-orange);
  --font-family: "Lato", sans-serif;
}
