.aside-nav {
  --aside-nav-background-color: var(--color-black-2);

  .slide-fade-enter-active,
  .slide-fade-leave-active {
    transition: all 0.3s ease-out;
  }

  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateY(15px);
    opacity: 0;
  }

  .slide-fade-enter-to,
  .slide-fade-leave-from {
    transform: translateY(0);
    opacity: 1;
  }

  @include media-breakpoint-down(lg) {
    --aside-nav-bottom-position: #{spacing(4)};
    --aside-nav-shadow-width: 100%;

    @include shadow('super-light');
    @include z-index;

    margin: spacing(8) 0;
    background-color: var(--aside-nav-background-color);
    padding: spacing(4);
    position: sticky;
    bottom: var(--aside-nav-bottom-position);
    width: min(calc(100vw - (2 * var(--grid-gutter-half-width))), 380px);

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: var(--aside-nav-shadow-width);
      left: spacing($size: 4, $negative: true);
      height: var(--aside-nav-bottom-position);
      bottom: calc(-1 * var(--aside-nav-bottom-position));
      background-color: var(--color-background);
    }
  }

  @include media-breakpoint-down(md) {
    --aside-nav-shadow-width: 100vw;
  }
}

.aside-nav__list-item {
  + .aside-nav__list-item {
    margin-top: spacing(3);
  }

  @include media-breakpoint-down(lg) {
    &:first-of-type {
      margin-top: spacing(9);
    }
  }
}

.aside-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.aside-nav__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  .aside-nav__icon-toggle.icon {
    width: spacing(6);
    height: spacing(6);
  }
}
