.aside-wrapper {
  display: flex;
  gap: spacing(14);

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .aside-wrapper__content {
    margin-top: spacing(12);
    flex: 1 1 60%;
  }

  .aside-wrapper__aside {
    margin-top: spacing(12);
    flex: 1 1 40%;
    img {
      width: 100%;
      margin-bottom: 3rem;
    }
  }

  @include media-breakpoint-down(xl) {
    flex-direction: row;
  }
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}
