.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;
  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid--side-bar {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;
  --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
  --sidebar-size: 220px;

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start sidebar-start] calc(var(--breakout-size) + var(--sidebar-size)) [sidebar-end content-start]
    min(
      calc(100% - (var(--padding-inline) * 2) - var(--sidebar-size)),
      calc(var(--content-max-width) - var(--sidebar-size))
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width, .post__sticky-bar),
.content-grid--side-bar > :not(.breakout, .full-width, .post__sticky-bar),
.full-width > :not(.breakout, .full-width, .post__sticky-bar) {
  grid-column: content;
}

.content-grid > .breakout,
.content-grid--side-bar > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width,
.content-grid--side-bar > .full-width {
  grid-column: full-width;
}

.content-grid--side-bar > .post__sticky-bar {
  grid-column: sidebar;
}
