.fab-button {
  @include z-index;

  --fab-button-icon-size: #{spacing(18)};
  --fab-button-bg-color: var(--color-fab-background);
  --fab-button-icon-color: var(--color-copy);
  --fab-button-bottom-position: 0rem;
  --fab-button-highlight-underline-color: var(--color-orange);

  position: relative;
  width: 100%;
  right: 0;

  &.fab-button--sticky {
    position: sticky;
    top: calc(100vh - var(--fab-button-icon-size) - var(--fab-button-bottom-position));
    height: 0;
    display: flex;
    justify-content: flex-end;

    .fab-button__modal {
      &.is-off-screen {
        transform: translateX(0);
        opacity: 0;
        transition-duration: 0s;
        pointer-events: none;
        width: 0;
      }
    }
  }

  &.is-expanded {
    .fab-button__icon {
      @include is-invisible;
    }

    .fab-button__modal {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

.fab-button__wrapper {
  position: relative;
  top: -3rem;
  right: spacing(4);
  height: var(--fab-button-icon-size);
}

.fab-button__icon {
  @include shadow;

  position: absolute;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fab-background);
  border-radius: 100%;
  padding: spacing(3);
  width: var(--fab-button-icon-size);
  height: var(--fab-button-icon-size);
  transform: translateY(100%);
  transform: translateY(0);
  right: 0;
  overflow: hidden;

  .icon--calendar {
    --icon-scale: 0.85;
  }

  svg {
    width: 90%;
  }
}

.fab-button__modal {
  @include shadow('light');

  position: fixed;
  background-color: var(--color-fab-background);
  transition: transform 0.7s $animation-transition, opacity 0.7s $animation-transition,
    height 0.7s $animation-transition;
  bottom: 0;
  right: 0;
  width: unquote('min(460px, 100vw)');
  overflow: hidden;
  will-change: transform, opacity, height;
  display: flex;
  flex-direction: column;

  &.is-off-screen {
    opacity: 0;
    transform: translateX(120%);
  }

  .contact {
    --color-contact-box-background: var(--color-fab-background);
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.fab-button__close {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 78px;
  height: 78px;

  > .icon {
    margin: spacing(5);
    padding: spacing(1);
    cursor: pointer;

    &.icon--circle svg {
      width: 80%;
    }
  }
}

.fab-trigger {
  cursor: pointer;
}
