.masonry-grid {
  column-gap: var(--masonry-gap, 1rem);
  columns: var(--masonry-columns-sm, 1);
}

@include media-breakpoint-up(md) {
  .masonry-grid {
    columns: var(--masonry-columns-md, 2);
  }
}

@include media-breakpoint-up(lg) {
  .masonry-grid {
    columns: var(--masonry-columns-lg, 3);
  }
}

@include media-breakpoint-up(xxl) {
  .masonry-grid {
    columns: var(--masonry-columns-xl, 4);
  }
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: var(--masonry-gap, 1rem);
  display: block;
}

.masonry-grid__load-more {
  break-inside: avoid;
}
