.newsletter {
  @include z-index;
  &.is--light {
    color: var(--color-white);
    .form__label,
    label.input-label,
    .headline {
      color: var(--color-white);
    }

    .form .is-valid ~ .form__checkbox-label,
    .shared-components .form .is-valid ~ .form__label,
    .shared-components .form .is-valid ~ .input-label,
    .shared-components .form .is-valid ~ .headline {
      color: var(--color-white);
    }
  }

  &.is-expanded {
    .newsletter__banner {
      @include is-invisible;
      border-width: 0;
      height: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
      pointer-events: none;
    }

    .newsletter__dialog {
      opacity: 1;
    }
  }

  .newsletter__dialog {
    &.is-off-screen {
      opacity: 0;
      pointer-events: none;
      transform: translateX(0);
      transition-duration: 0s;
      width: 0;
    }
    &::backdrop {
      background-color: #1e1e1e;
      opacity: 0.9;
    }
  }
}

.newsletter__close {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 78px;
  height: 78px;

  > .icon {
    margin: spacing(5);
    padding: spacing(1);
    cursor: pointer;

    &:hover {
      background-color: transparent
    }
    &.icon--circle svg {
      width: 80%;
    }
  }
}

.newsletter__banner {
  transform: translateX(-100vw);
  height: auto;

  @include media-breakpoint-up(lg) {
    max-width: 80rem;
    width: auto;
  }
}

.newsletter__dialog {
  position: fixed;
  z-index: 1000;
  overflow: visible;
  padding: 0;
  @include media-breakpoint-up(lg) {
    max-width: 80vw;
  }

  @include media-breakpoint-down(lg) {
    top: 10vh;
  }
}

.newsletter__trigger {
  cursor: pointer;
}

@keyframes fly {
  to {
    transform: translateX(0);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .banner-animation {
    animation: fly 4.5s forwards;
  }
  .banner-animation_mobile {
    animation: fly 2s forwards;
  }
}
