.newsletter {
  @include z-index;

  &.is--light {
    color: var(--color-white);
    .form__label,
    label.input-label,
    .headline {
      color: var(--color-white);
    }

    .form .is-valid ~ .form__checkbox-label,
    .shared-components .form .is-valid ~ .form__label,
    .shared-components .form .is-valid ~ .input-label,
    .shared-components .form .is-valid ~ .headline {
      color: var(--color-white);
    }
  }

  &.is-expanded {
    .newsletter-banner {
      @include is-invisible;
      border-width: 0;
      height: 0;
      margin: 0 !important;
      opacity: 0;
      padding: 0 !important;
      pointer-events: none;
    }

    .newsletter-modal {
      opacity: 1;
    }
  }

  .newsletter-modal {
    &.is-off-screen {
      opacity: 0;
      pointer-events: none;
      transform: translateX(0);
      transition-duration: 0s;
      width: 0;
    }
  }
}

.newsletter-close {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 78px;
  height: 78px;

  > .icon {
    margin: spacing(5);
    padding: spacing(1);
    cursor: pointer;

    &.icon--circle svg {
      width: 80%;
    }
  }
}

.newsletter-banner {
  transform: translateX(-100vw);
  height: auto;

  @include media-breakpoint-up(lg) {
    max-width: 80rem;
    width: auto;
  }
}

.newsletter-modal {
  position: fixed;
  top: 20vh;
  z-index: 1000;
  @include media-breakpoint-up(lg) {
    max-width: 80vw;
  }

  @include media-breakpoint-down(lg) {
    top: 10vh;
  }
}

.newsletter-modal__content {
  @include media-breakpoint-down(sm) {
    height: 90%;
    max-height: 60vh;
    overflow-y: scroll;
    margin-bottom: 21%;
    margin-top: 15%;
  }
}

.newsletter-trigger {
  cursor: pointer;
}

@keyframes fly {
  to {
    transform: translateX(0);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .banner-animation {
    animation: fly 4.5s forwards;
  }
  .banner-animation_mobile {
    animation: fly 2s forwards;
  }
}

@keyframes fade-out {
  to {
    transform: translateX(100vw) translateY(-100vh);
  }
}
@keyframes fade-in {
  0% {
    margin-left: -50%;
  }
  to {
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .fade-in-animation {
    animation: fade-in 4s 1 forwards;
  }
  .fade-out-animation {
    animation: fade-out 8s 1 forwards;
  }
}