.newsletter {
  @include z-index;

  height: 15rem;
  justify-content: center;
  align-items: center;

  &.is-expanded {
    .newsletter-banner {
      @include is-invisible;
      border-width: 0;
      height: 0;
      margin: 0 !important;
      opacity: 0;
      padding: 0 !important;
      pointer-events: none;
    }

    .newsletter-modal {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  .newsletter-modal {
    &.is-off-screen {
      opacity: 0;
      pointer-events: none;
      transform: translateX(0);
      transition-duration: 0s;
      width: 0
    }
  }
}

.newsletter-close {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 78px;
  height: 78px;

  >.icon {
    margin: spacing(5);
    padding: spacing(1);
    cursor: pointer;

    &.icon--circle svg {
      width: 80%;
    }
  }
}

.newsletter-banner {
  height: auto;
  width: auto;
  max-width: 80rem;
}


.newsletter-modal {
  position: fixed;
  top: 20vh;
  z-index: 1000;
  height: 50rem
}



.newsletter-trigger {
  cursor: pointer;
}