.newsletter-modal {
  @include z-index;
}

.newsletter-modal__content {
  @include media-breakpoint-down(sm) {
    height: 90%;
    max-height: 60vh;
    overflow-y: scroll;
    margin-bottom: 21%;
    margin-top: 15%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes fade-out {
    to {
      transform: translateX(100vw) translateY(-100vh);
    }
  }
  @keyframes fade-in {
    0% {
      margin-left: -50%;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in-animation {
    animation: fade-in 4s 1 forwards;
  }
  .fade-out-animation {
    animation: fade-out 8s 1 forwards;
  }
}
