$newsletter-icon-size: 72px;
$newsletter-bottom-offset-lg: 16px;
$newsletter-bottom-offset-xs: 32px;
$newsletter-scroll-top: 200px;

.newsletter {
  @include z-index;

  position: relative;
  width: 100%;
  right: 1em;

  &.newsletter--sticky {
    &:not([style^='height']) {
      .newsletter__modal {
        &.is-off-screen {
          transform: translateX(0);
          opacity: 0;
          transition-duration: 0s;
          pointer-events: none;
          width: 0;
        }
      }
    }

    .newsletter__start {
      top: calc(-100vh + (#{$newsletter-bottom-offset-xs} * 2));
    }

    &[style^='height'] {
      .newsletter__wrapper {
        top: calc(100vh - (#{$newsletter-icon-size} + #{$newsletter-bottom-offset-xs})) !important;
      }
    }

    .newsletter__wrapper {
      top: calc(-#{$newsletter-icon-size} + #{$newsletter-bottom-offset-xs});
    }

    @include media-breakpoint-up(lg) {
      .newsletter__start {
        top: calc(-100vh + (#{$newsletter-bottom-offset-lg} * 2));
      }

      &[style^='height'] {
        .newsletter__wrapper {
          top: calc(100vh - (#{$newsletter-icon-size} + #{$newsletter-bottom-offset-lg})) !important;
        }
      }

      .newsletter__wrapper {
        top: calc(-#{$newsletter-icon-size} + #{$newsletter-bottom-offset-lg});
      }
    }
  }

  &.is-expanded {
    .newsletter__icon {
      @include is-invisible;
    }

    .newsletter__modal {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

.newsletter__start {
  position: absolute;
}

.newsletter__wrapper {
  position: relative;
  width: 100% !important;
  margin-left: auto;
  right: spacing(4);
}



.newsletter__modal {
  @include shadow('light');

  background-color: var(--color-fab-background);
  transition:
    transform 0.7s $animation-transition,
    opacity 0.7s $animation-transition,
    height 0.7s $animation-transition;
  right: 0;
  bottom: 0;
  position: fixed;
  width: unquote('min(460px, 100vw)');
  overflow: hidden;
  will-change: transform, opacity, height;
  display: flex;
  flex-direction: row;

  &.is-off-screen {
    opacity: 0;
    transform: translateX(120%);
  }

  .contact {
    --color-contact-box-background: var(--color-fab-background);
  }

  @include media-breakpoint-up(lg) {
    right: spacing($size: 4, $negative: true);
    flex-direction: row;
    bottom: -#{$newsletter-icon-size};
    position: absolute;
  }
}



