// TODO rename this to post-detail

.post,
.post-detail {
  --post-paragraph-line-height: 2;
}

.post-detail {
  overflow: clip;

  &.post-detail--aside-nav {
    .aside-nav {
      padding-top: spacing(3);
    }
  }
}

.post {
  container-type: normal;

  .full-width-container {
    overflow: visible;
  }

  .post-title {
    &.h3-font-size {
      font-size: $h3-font-size-sm;
      font-weight: bold;

      @include media-breakpoint-up(lg) {
        font-size: $h3-font-size-lg;
      }

      @include media-breakpoint-up(xl) {
        font-size: $h3-font-size;
      }
    }
  }

  .post__screenshot {
    left: 50%;
    transform: translateX(-50%);
  }

  .sticky-block__start {
    .socials {
      padding-top: spacing(3);
    }
  }
}

.post__screenshot {
  @include shadow('light-variant');
}

.post {
  main {
    > p {
      &:not(.post__sticky-excerpt) {
        line-height: var(--post-paragraph-line-height);
      }

      &:last-of-type {
        margin-bottom: 0;

        img {
          margin-bottom: 0;
        }
      }
    }

    .prose-p {
      &:not(.post__sticky-excerpt) {
        line-height: var(--post-paragraph-line-height);
      }
    }
  }

  iframe:not(.video-frame__iframe):not(.video__iframe) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  > img {
    &:first-of-type {
      margin-top: 0;

      + figcaption {
        margin-top: -2rem;
        margin-bottom: 2.5rem;

        @include media-breakpoint-up(lg) {
          position: relative;
          margin-top: -3rem;
          margin-bottom: 3.5rem;
        }
      }
    }
  }

  // Images within richtext that should break out
  .richtext > picture > img,
  .richtext > .img__picture-wrapper img,
  .richtext > img,
  p > img:not(.post__screenshot) {
    border-radius: 0;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  @include media-breakpoint-up(lg) {
    iframe:not(.video-frame__iframe):not(.video__iframe) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.post__intro-img {
  .img__picture-wrapper img,
  > img {
    border-radius: 0;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    @include media-breakpoint-up(lg) {
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
    }
  }
}
// }

.post__sticky-bar {
  &.post__sticky-bar--lg-only {
    display: none;

    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  &.breakout {
    height: 0;
  }

  @include media-breakpoint-up(lg) {
    float: left;
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    margin-bottom: 0;
  }
}

.post__sticky-excerpt {
  @include font-style($style: 'font-size-3', $weight: 'light');

  padding-top: spacing(3);
}

.post__title-images {
  padding-top: 1px;
  margin-top: -1px;

  &.full-width {
    .slider {
      @include media-breakpoint-down(md) {
        .slider__wrapper {
          padding-left: 0;
          padding-right: 0;
        }
      }

      @include media-breakpoint-up(lg) {
        .slider__wrapper {
          padding: 0 spacing(14);
        }

        .wrapper-slot-items__item {
          padding: 0 spacing(4);
        }
      }

      @include media-breakpoint-up(xl) {
        width: 100vw;

        .slider__wrapper {
          padding: 0 spacing(18);
        }
      }
    }
  }
}
