.sidebar {
  --sidebar-stagger-delay: 0.1s;
  --sidebar-section-name-width: 0;
  --sidebar-section-content-opacity: 0;
  --sidebar-section-content-delay: 0.4s;
  --sidebar-section-on-off-multiplcator: 0;
  --sidebar-section-gap: 0;
  --sidebar-section-on-gap: #{spacing(4)};
  --sidebar-dialog-background-color: transparent;
  --sidebar-dialog-animation-delay-1: 0.5s;
  --sidebar-dialog-animation-delay-2: 0.85s;
  --sidebar-dialog-animation-delay-3: 1.5s;
  --sidebar-main-animation-delay-1: 1s;
  --sidebar-height-lg: 650px;
  --sidebar-height-xs: 500px;
  --sidebar-section-factor: 0.2vw;
  --sidebar-section-scale-factor-min: 1;
  --sidebar-section-scale-factor-max: 3;
  --sidebar-controls-gap: #{spacing(2)};

  --sidebar-height: var(--sidebar-height-xs);
  --sidebar-section-scale: 1;

  width: 100%;
  overflow: clip;
  opacity: 0;
  display: flex;
  align-items: center;
  min-height: var(--sidebar-height);

  .sidebar__section-title,
  .sidebar__section-overline {
    line-height: 1em;
  }

  &.is-ready {
    opacity: 1;

    .sidebar__button {
      --sidebar-animation-delay: calc(var(--sidebar-section-index, 0) * var(--sidebar-stagger-delay, 0.1s) + 0.1s);

      opacity: 1;
      transition: opacity 0s var(--sidebar-animation-delay) $animation-transition;
      animation: sidebar-intro 2s $animation-transition;
      animation-delay: var(--sidebar-animation-delay);

      &:hover {
        .sidebar__section-content {
          transition-delay: 0s;
        }
      }
    }

    .sidebar__headline {
      opacity: 1;
      transform: none;
    }
  }

  @include media-breakpoint-up('lg') {
    --sidebar-height: var(--sidebar-height-lg);
    --sidebar-section-factor: 1px;
    --sidebar-section-scale-factor-max: 4.2;
    --sidebar-controls-gap: #{spacing(6)};

    .sidebar__dialog-infos,
    .sidebar__dialog-section {
      width: 50%;
    }

    .sidebar__dialog-wrapper {
      flex-direction: row;
    }

    .sidebar__dialog-section {
      text-align: right;
    }

    .sidebar__dialog-section-overline {
      position: absolute;
      right: 0;
      top: -5px;
      transform: translateY(-100%);
    }
  }
}

.sidebar__nav {
  @include z-index;

  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: var(--sidebar-height);
  width: 100%;
  pointer-events: none;
}

.sidebar__controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--sidebar-controls-gap);
  pointer-events: all;
}

.sidebar__button {
  display: flex;
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  position: relative;
  opacity: 0;
  gap: var(--sidebar-section-gap);

  &:nth-of-type(1) {
    --sidebar-section-on-off-multiplcator: 1;
  }

  &:nth-of-type(1),
  &:hover {
    .sidebar__section-content {
      transform: translateY(0) translateX(0);
    }
  }

  &:hover {
    --sidebar-section-name-width: auto;
    --sidebar-section-gap: var(--sidebar-section-on-gap);

    .sidebar__section-bar {
      --sidebar-section-width: 200;
    }

    .sidebar__section-content {
      --sidebar-section-content-opacity: 1;
    }
  }
}

.sidebar__section-bar {
  width: calc(var(--sidebar-section-factor) * (var(--sidebar-section-width, 50px)) * var(--sidebar-section-scale, 1));
  background-color: var(--sidebar-section-color);
  transition: width 0.75s $animation-transition;
}

.sidebar__section-overline,
.sidebar__section-content {
  text-transform: uppercase;
  white-space: nowrap;
}

.sidebar__dialog-section-overline {
  @include font-size-5;
  @include font-weight('light');
}

.sidebar__dialog-section-title {
  @include font-size-6;
  @include font-weight('bold');
}

.sidebar__dialog-section-title,
.sidebar__dialog-section-overline {
  text-transform: uppercase;
  line-height: 1em;
}

.sidebar__section-overline {
  @include font-size-2;
}

.sidebar__section-title {
  @include font-style('font-size-4', 'bold');
}

.sidebar__section-content {
  text-align: left;
  opacity: var(--sidebar-section-content-opacity);
  transform: translateY(10px);
  transition-property: transform, opacity;
  transition-duration: 1.15s, 0.9s;
  transition-delay: var(--sidebar-section-content-delay);
  transition-timing-function: $animation-transition;
}

.sidebar__section-name {
  width: var(--sidebar-section-name-width);
  overflow: hidden;
}

.sidebar__dialog {
  border: 0;
  background-color: transparent;
  color: var(--sidebar-dialog-text-color, var(--color-copy));
  width: 100%;
  height: 100vh;

  &::backdrop {
    background-color: var(--sidebar-dialog-background-color);
    clip-path: inset(0 100% 0 0);
    animation: sidebar-slide-in-background 0.75s cubic-bezier(0.25, 0.46, 0.45, 1.24) forwards;
  }
}

.sidebar__dialog-close {
  position: absolute;
  top: spacing(8);
  right: spacing(8);
  opacity: 0;
  animation: 1.75s $animation-transition var(--sidebar-dialog-animation-delay-3) fadeIn forwards;
}

.sidebar__dialog-content {
  display: flex;
  max-width: 1048px;
  height: 100%;
  align-content: center;
  align-items: center;
  margin: 0 auto;
}

.sidebar__dialog-wrapper {
  display: flex;
  gap: spacing(12);
  flex-direction: column;
}

.sidebar__dialog-section {
  position: relative;
  top: -5px;
  opacity: 0;
  animation: 1.5s $animation-transition var(--sidebar-dialog-animation-delay-1) fadeIn forwards;
}

.sidebar__dialog-infos {
  opacity: 0;
  animation: 1.5s $animation-transition var(--sidebar-dialog-animation-delay-2) fadeIn forwards;
}

.sidebar__dialog-text {
  @include font-size-1;
  @include line-height('extra-wide');
}

.sidebar__dialog-cta {
  margin-top: spacing(8);

  &.cta:hover.link,
  &.cta:hover,
  &.cta {
    --color-link: var(--sidebar-dialog-text-color);
    --cta-copy-color: var(--color-link);
  }
}

.sidebar__row {
  justify-content: flex-end;
  text-align: right;
}

.sidebar__headline {
  opacity: 0;
  transform: translateX(10%);
  transition-property: transform, opacity;
  transition-duration: 1.15s, 0.9s;
  transition-delay: var(--sidebar-main-animation-delay-1);
  transition-timing-function: $animation-transition;
}

@keyframes sidebar-slide-in-background {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0% 0 0);
  }
}

@keyframes sidebar-intro {
  0% {
    --sidebar-section-name-width: auto;
    --sidebar-section-content-opacity: calc(1 * var(--sidebar-section-on-off-multiplcator));
    --sidebar-section-gap: calc(var(--sidebar-section-on-gap) * var(--sidebar-section-on-off-multiplcator));
    --sidebar-section-content-delay: 0s;

    transform: translateX(100vw);
    pointer-events: none;
  }

  60% {
    --sidebar-section-name-width: auto;
    --sidebar-section-content-opacity: calc(1 * var(--sidebar-section-on-off-multiplcator));
    --sidebar-section-gap: calc(var(--sidebar-section-on-gap) * var(--sidebar-section-on-off-multiplcator));
    --sidebar-section-scale: var(--sidebar-section-scale-factor-max);
    --sidebar-section-content-delay: 0s;

    pointer-events: none;
  }

  100% {
    --sidebar-section-scale: var(--sidebar-section-scale-factor-min);

    transform: translateX(0);
    pointer-events: none;
  }
}
