.sidebar {
  @include z-index;

  --sidebar-stagger-delay: 0.1s;
  --sidebar-section-scale: 1;

  min-height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  overflow: clip;

  .sidebar__section-title,
  .sidebar__section-overline {
    line-height: 1em;
  }
}

.sidebar__controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: spacing(6);
}

.sidebar__button {
  display: flex;
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  position: relative;
  animation: sidebar-intro 2s $animation-transition;
  animation-delay: calc(var(--sidebar-section-index, 0) * var(--sidebar-stagger-delay, 0.1s));

  &:nth-of-type(1),
  &:hover {
    gap: spacing(4);

    .sidebar__section-name {
      width: auto;
    }

    .sidebar__section-content {
      opacity: 1;
      transform: translateY(0) translateX(0);
      transition-delay: 0s;
    }
  }

  &:hover {
    .sidebar__section-bar {
      --sidebar-section-width: 200;
    }
  }

  // &:nth-of-type(1) {
  //   .sidebar__section-name {
  //     width: auto;
  //   }

  //   .sidebar__section-content {
  //     opacity: 1;
  //   }
  // }
}

.sidebar__section-bar {
  width: calc(1px * (var(--sidebar-section-width, 50px)) * var(--sidebar-section-scale, 1));
  background-color: var(--sidebar-section-color);
  transition: width 0.75s $animation-transition;
}

.sidebar__section-overline,
.sidebar__section-content {
  text-transform: uppercase;
  white-space: nowrap;
}

.sidebar__section-overline {
  @include font-size-2;
}

.sidebar__section-title {
  @include font-style('font-size-4', 'bold');
}

.sidebar__section-content {
  text-align: left;
  opacity: 0;
  transform: translateY(10px);
  transition-property: transform, opacity;
  transition-duration: 1.15s, 0.9s;
  transition-delay: 0.4s;
  transition-timing-function: $animation-transition;
}

.sidebar__section-name {
  width: 0;
  overflow: hidden;
}

@keyframes sidebar-intro {
  0% {
    transform: translateX(100vw);
  }

  // 10% {
  //   --sidebar-section-scale: 1.5;
  // }

  // 30% {
  //   --sidebar-section-scale: 2.2;
  // }

  60% {
    // --sidebar-section-scale: calc(2.2 * (var(--sidebar-section-index, 1) + 1));
    --sidebar-section-scale: 4.2;
  }

  100% {
    --sidebar-section-scale: 1;
    transform: translateX(0);
  }
}
