.social-post-card {
  --social-post-card-border-color: var(--color-black-30);

  cursor: pointer;
  position: relative;
  padding: 1rem;
  background-color: var(--color-background);
  width: 100%;

  .icon.social-post-card__stat-icon {
    width: 1.15rem;
    height: 1.15rem;
  }

  &:hover {
    .social-post-card__media img {
      transform: scale(1.1);
    }
  }
}

.social-post-card__header {
  position: relative;
}

.social-post-card__avatar {
  flex-shrink: 0;
  width: spacing(6);
  height: spacing(6);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.social-post-card__repost-avatar {
  width: spacing(5);
  height: spacing(5);
  display: flex;
}

.social-post-card__repost {
  border-radius: 5px;
  border: 1px solid var(--social-post-card-border-color);
  margin-top: spacing(4);

  .social-post-card__content {
    padding: spacing(4);
  }
}

.social-post-card__repost-header {
  padding: spacing(4) spacing(4) 0;
}

.social-post-card__repost-author {
  @include font-size-1;

  font-weight: bold;
}

.social-post-card__linkedin-badge {
  width: spacing(8);
  height: spacing(8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-post-card__meta {
  text-align: right;
}

.social-post-card__author-handle-time,
.social-post-card__meta,
.social-post-card__linkedin-badge {
  color: var(--color-copy-reduced);
}

.social-post-card__linkedin-icon {
  font-size: 1.1rem;
  line-height: 1;
}

.social-post-card__author-handle-time {
  font-size: 0.8125rem;
}

.social-post-card__content {
  line-height: 1.5;
  color: var(--color-copy);

  :where(p) {
    margin-bottom: 0.5rem;
  }

  :where(p:last-child) {
    margin-bottom: 0;
  }
}

.social-post-card__read-more {
  color: var(--color-copy-reduced);
  text-decoration: none;
  margin-left: 0.25rem;
}

.social-post-card__media {
  margin-top: spacing(3);
}

.social-post-card__media,
.social-post-card__repost-media {
  cursor: pointer;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 1.5s $animation-transition;
  }
}

.social-post-card__repost-media {
  border-top: 1px solid var(--social-post-card-border-color);
  padding: spacing(4);

  img {
    width: 30%;
    border-radius: 14px;
    overflow: hidden;
  }
}

.social-post-card__footer {
  padding-top: 0;
}

.social-post-card__stat {
  display: flex;
  align-items: center;
  gap: spacing(2);
  color: var(--color-copy);
  margin-right: spacing(5);
}

.social-post-card__content,
.social-post-card__stat {
  @include font-size-sm;
}
