.tags__btn {
  color: #71869d;
  background-color: rgba(113, 134, 157, 0.1);
  border: 0.0625rem solid transparent;
  border-color: transparent;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 0.275rem 0.75rem;
  border-radius: 0.3125rem;
  border-radius: 6.1875rem;

  &.active,
  &:active,
  &:focus,
  &:hover {
    color: #fff;
    background-color: #71869d;
    box-shadow: 0 4px 11px rgba(113, 134, 157, 0.1);
  }

  &.disabled,
  &:disabled {
    color: #71869d;
    background-color: rgba(113, 134, 157, 0.1);
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #71869d;
  }

  &.tag--small {
    padding: spacing(1) spacing(2);
    color: var(--color-copy-reduced);

    &:focus,
    &:active,
    &:hover {
      background-color: var(--color-primary-accent) !important;
      color: var(--color-copy-light);
    }
  }

  &.tag--icon {
    --tag-base-color: var(--color-waterloo);

    border: 1px solid var(--tag-base-color);
    color: var(--tag-base-color);
    background-color: transparent;
    padding: spacing(1) spacing(3);
    display: inline-flex;
    gap: spacing(2);

    &:focus,
    &:active,
    &:hover {
      --tag-base-color: var(--color-primary-accent);

      background-color: transparent !important;
      color: var(--tag-base-color) !important;
    }
  }

  &.tag--small,
  &.tag--icon {
    @include font-weight('bold');

    margin-right: spacing(2);
    text-transform: uppercase;
  }
}

.tag__icon {
  .icon {
    color: var(--tag-base-color);
    stroke-width: 5px;
  }
}
