
.team-cards-item--default {
  max-width: 300px;
}

.card.no-border {
  @include border-radius(0);

  .card-footer:last-child {
    border-radius: 0;
  }
}

.team-cards-item__description {
  flex-grow: 1;
}

.team-cards-item__body {
  display: flex;
  flex-direction: column;
}
