.video-slider {
  --color-video-slider-tab: var(--color-yellow);
  --video-slider-video-gap: 0.25rem;
  --video-slider-video-factor: 2;
  background-color: var(--color-video-slider-background);
  color: var(--color-video-slider-color);
  padding: 6rem 0;
  
  .slick-slide > * {
    padding: var(--video-slider-video-gap) calc(var(--video-slider-video-factor) * var(--video-slider-video-gap));
    transition: padding 0.3s ease-in-out;
  }
  .slick-slide .video__content {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .slick-center .video__content {
    opacity: 1;
  }
  .slick-center > * {
    padding: 0;
  }
  @media (min-width: 992px) {
    .video-slider {
      --video-slider-video-gap: 1.5rem;
    }
  }
}

.video-slider__header {
  text-align: center;
  margin-bottom: 3.75rem;
}

.video-slider__subline {
  margin-top: 2.5rem;
}

.video-slider__tabs {
  gap: 1.25rem;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 auto;
  scroll-snap-type: x mandatory;
}
@media (min-width: 992px) {
  .video-slider__tabs {
    justify-content: center;
  }
}

.video-slider__tabs-wrapper {
  display: flex;
}

.video-slider__tab {
  font-weight: bold;
  scroll-snap-align: start;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
  outline: 2px solid var(--color-video-slider-tab);
  outline-offset: -2px;
  cursor: pointer;
  white-space: nowrap;
}
.video-slider__tab:hover,
.video-slider__tab.active {
  background-color: var(--color-video-slider-tab);
}

.video-slider__main {
  margin-bottom: 3.75rem;
}

.video-slider__footer {
  margin-top: -0.75rem;
  margin-left: 10vw;
}
.video-slider__footer .cta__text {
  font-size: 1.25rem;
  line-height: 2.5rem;
}
@media (min-width: 992px) {
  .video-slider__footer .cta__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .video-slider__footer .cta__text {
    font-size: 1.5625rem;
  }
}
@media (min-width: 992px) {
  .video-slider__footer {
    margin-left: calc(20vw + 2rem);
  }
}

.video-slider__max-width {
  margin: 0 auto;
  max-width: 2000px;
}
