// scepman theme related styling here

:root {
  --site: 'scepman';
  // Theme colors
  --color-headlines: var(--color-midnight); // #011e33;
  --color-copy: var(--color-midnight); // #011e33;

  --color-primary: var(--color-yellow); // #fcd116;
  --color-primary-accent: var(--color-ripe-lemon); // #f7cb0b;
  --color-primary-accent-light: var(--color-varden); // #fff8dc;
  --color-primary-on-surface: var(--color-kimberly); // #716fa7;
  --color-primary-accent-on-surface: green;

  --color-secondary: var(--color-ripe-lemon); // #f7cb0b; vorher var(--color-cold-purple); // #a09edb;
  --color-secondary-accent: var(--color-ripe-lemon); // #f7cb0b; vorher var(--color-cold-purple); // #a09edb;
  --color-secondary-accent-light: red;
  --color-secondary-on-surface: var(--color-kimberly); // #716fa7;
  --color-secondary-accent-on-surface: red;

  --color-highlight: var(--color-cold-purple); // #a09edb;

  --color-copy-highlight: var(--color-cold-purple); // #a09edb;

  --color-copy-on-primary: var(--color-copy); // #011e33;
  --color-copy-on-primary-accent: var(--color-copy); // #011e33;
  --color-copy-on-primary-on-surface: var(--color-copy-light); // #ffffff;
  --color-copy-on-primary-accent-on-surface: var(--color-copy-light); // #ffffff;

  --color-copy-on-secondary: var(--color-ripe-lemon); // #f7cb0b;
  --color-copy-on-secondary-accent: var(--color-ripe-lemon); // #f7cb0b;
  --color-copy-on-secondary-on-surface: var(--color-kimberly); // #716fa7;
  --color-copy-on-secondary-accent-on-surface: var(--color-kimberly); // #716fa7;

  // Element colors
  --color-bg-grey: var(--color-porcelain);
  --color-bg-dark-grey: var(--color-regent-grey);
  --color-svg-icon: var(--color-primary);
  --color-svg-icon--hover: var(--color-primary-accent);
  --color-bg-checkbox: var(--color-blue-medium);
  --color-border: red;
  --color-loading: red;
  --color-loading--1: var(--color-primary);
  --color-loading--2: var(--color-yellow);
  --color-loading--3: var(--color-conifer);
  --color-loading--4: var(--color-orange);

  // fonts
  --font-family: 'Miriam Libre', sans-serif;
}
