:root {
  --site: "gk";
  --color-headlines: var(--color-gk-dark-blue);
  --color-copy: var(--color-gk-dark-blue);
  --color-primary: var(--color-gk-light-blue);
  --color-primary-accent: var(--color-gk-mid-blue);
  --color-primary-accent-light: var(--color-gk-mid-blue);
  --color-primary-on-surface: var(--color-gk-white);
  --color-primary-accent-on-surface: var(--color-gk-white);
  --color-secondary: var(--color-gk-light-blue);
  --color-secondary-accent: var(--color-gk-mid-blue);
  --color-secondary-accent-light: var(--color-gk-mid-blue);
  --color-secondary-on-surface: var(--color-gk-white);
  --color-secondary-accent-on-surface: var(--color-gk-white);
  --color-highlight: var(--color-gk-mid-blue);
  --color-highlight-second: var(--color-gk-yellow);
  --color-copy-highlight: var(--color-gk-petrol);
  --color-copy-on-primary: var(--color-gk-white);
  --color-copy-on-primary-accent: var(--color-gk-white);
  --color-copy-on-primary-on-surface: var(--color-gk-light-blue);
  --color-copy-on-primary-accent-on-surface: var(--color-gk-mid-blue);
  --color-copy-on-secondary: var(--color-gk-light-blue);
  --color-copy-on-secondary-accent: var(--color-gk-mid-blue);
  --color-copy-on-secondary-on-surface: var(--color-gk-white);
  --color-copy-on-secondary-accent-on-surface: var(--color-gk-white);
  --color-bg-grey: var(--color-gk-dark-blue-shade-10);
  --color-bg-dark-grey: var(--color-gk-dark-blue-shade-40);
  --color-svg-icon: var(--color-gk-light-blue);
  --color-svg-icon--hover: var(--color-gk-mid-blue);
  --color-bg-checkbox: var(--color-gk-mid-blue);
  --color-border: var(--color-gk-dark-blue);
  --color-loading: var(--color-gk-light-blue);
  --color-loading--1: var(--color-gk-light-blue);
  --color-loading--2: var(--color-gk-yellow);
  --color-loading--3: var(--color-gk-green);
  --color-loading--4: var(--color-gk-orange);
  --font-family: "Lato", sans-serif;
  --cta-cutoff: 0;
  --cta-normal: 1;
}
