:root {
  --site: "terraprovider";
  --color-headlines: var(--color-products-dark-blue);
  --color-copy: var(--color-products-dark-blue);
  --color-primary: var(--color-gk-light-blue);
  --color-primary-accent: #4083b3;
  --color-primary-accent-light: #4083b3;
  --color-primary-on-surface: #8853bd;
  --color-primary-accent-on-surface: #5f3a84;
  --color-secondary: var(--color-gk-light-blue);
  --color-secondary-accent: #4083b3;
  --color-secondary-accent-light: #4083b3;
  --color-secondary-on-surface: #8853bd;
  --color-secondary-accent-on-surface: #5f3a84;
  --color-highlight: #d1b1f1;
  --color-highlight-second: #d1b1f1;
  --color-copy-highlight: #8853bd;
  --color-copy-on-primary: var(--color-gk-white);
  --color-copy-on-primary-accent: var(--color-gk-white);
  --color-copy-on-primary-on-surface: var(--color-gk-white);
  --color-copy-on-primary-accent-on-surface: var(--color-gk-white);
  --color-copy-on-secondary: var(--color-gk-light-blue);
  --color-copy-on-secondary-accent: #4083b3;
  --color-copy-on-secondary-on-surface: #8853bd;
  --color-copy-on-secondary-accent-on-surface: #5f3a84;
  --color-bg-grey: #f1f3f4;
  --color-bg-dark-grey: var(--color-products-dark-grey);
  --color-svg-icon: var(--color-gk-light-blue);
  --color-svg-icon--hover: #4083b3;
  --color-bg-checkbox: var(--color-gk-violet);
  --color-border: #8853bd;
  --color-loading: var(--color-gk-light-blue);
  --color-loading--1: var(--color-gk-light-blue);
  --color-loading--2: #8853bd;
  --color-loading--3: #d1b1f1;
  --color-loading--4: #8853bd;
  --font-family: "Miriam Libre", sans-serif;
  --cta-cutoff: 1;
  --cta-normal: 0;
}
