.team-cards-item.team-cards-item--default[data-v-70268380]{max-width:300px}.team-cards-item__description[data-v-70268380]{flex-grow:1}.team-cards-item__body[data-v-70268380]{display:flex;flex-direction:column}
